{% extends 'layout.html'%}
{% block page_title %}Choose your Bacon{% endblock %}

{% block main_content %}
<div class='col-sm-12'>
    <p>What do you want?</p>
    <button class='btn btn-default' type='button' id='kitten_btn'>Kitten Image</button>
    <button class='btn btn-default' type='button' id='lorem_btn'>Lorem Ipsum</button>
    <form class='form-vertical' action='{{ url_for("baconIpsumChoose" ) }}' method='POST'>
      <input type='hidden' name='wanted_type' id='wanted_type' value='img'/> 
  

      <div id='kitten_fields' style='display:none'>
        <div class="form-group">
          <label for="height" class="control-label">Height</label>
          <div class="">
            <input type="height" class="form-control" id="height" placeholder="height">
          </div>
        </div>
        <div class="form-group">
          <label for="width" class="control-label">Width</label>
          <div class="">
            <input type="width" class="form-control" id="width" placeholder="width">
          </div>
        </div>
      </div>

      <div id='lorem_fields' style='display:none'>
        <div class="form-group">
          <label for="with_bacon" class="control-label">with bacon?</label>
          <div class="">
            <input type="checkbox" class="form-control" id="width" placeholder="width">
          </div>
        </div>

        <div class='form-group'>
          <label for="num_para" class="control-label">number of paragraphs</label>
          <div class=''>
            <select name='num_para' class='form-control'>
              <option value='5'>5</option>
              <option value='4'>4</option>   
              <option value='3'>3</option>    
              <option value='2'>2</option>    
              <option value='1'>1</option>    

            </select>      
          </div>
        </div>
      </div>
      <button class='btn btn-primary' type='submit' 
        name='submit' value='submit' 
                                id='wanted_submit_btn'
                                style='display:none'>Get Content</button>
    </form>      

</div>

{% endblock %}

{% block extra_js %}
    <!-- <script src='{{ STATIC_URL }}js/jquery.min.js' type='text/javascript'></script> -->
    <script type='text/javascript'>
      $(document).ready(function(){ 
          $('button').click(function(){
            $('#wanted_submit_btn').show();
          });

          $('#kitten_btn').click(function(){
            $('#wanted_type').val('img');
            $('#kitten_fields').show();
            $('#lorem_fields').hide();
          });
          $('#lorem_btn').click(function(){
            $('#wanted_type').val('oembed');
            $('#lorem_fields').show();
            $('#kitten_fields').hide();
          });
      });
    </script>
{% endblock %}
