{% extends "layout.html" %}

{% block main_content %}

<div class='row'>
  <div class='col-md-12'>
    <h3>GET Parameters</h3>
    <table class='table table-striped'>
      <tr><th>key</th><th>value</th></tr>
      {% for k in get %}
      <tr>
        <td>{{ k }}</td>
        <td>{{ post[k] }}</td>
      </tr>
      {% endfor %}
    </table>
    <h3>POST Parameters</h3>
    <table class='table table-striped'>
      <tr><th>key</th><th>value</th></tr>
      {% for k in post %}
      <tr>
        <td>{{ k }}</td>
        <td>{{ post[k] }}</td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>
{% endblock %}
